aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chromedriver-autoinstaller==0.6.2
click==8.1.7
click-didyoumean==0.3.0
colorama==0.4.6
Django==4.2.6
EasyProcess==1.1
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
Flask==2.3.2
frozenlist==1.4.0
gazpacho==1.1
gunicorn==21.2.0
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
mysql==0.0.3
mysql-connector-python==8.0.33
mysqlclient==2.2.0
numpy==1.24.2
openpyxl==3.1.2
outcome==1.2.0
p==1.4.0
packaging==23.1
pandas==2.0.0
phonenumbers==8.13.23
Pillow==10.0.1
protobuf==3.20.3
PyAutoGUI==0.9.54
pycparser==2.21
PyGetWindow==0.0.9
PyJWT==2.8.0
PyMsgBox==1.0.9
pyperclip==1.8.2
pypng==0.20220715.0
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.0.7
pytz==2023.3
pywhatkit==5.4
qrcode==7.4.2
quote==2.0.4
requests==2.28.2
selenium==4.9.0
services==0.1.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.4
trio==0.22.0
trio-websocket==0.10.2
twilio==8.9.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.15
waitress==2.1.2
watchdog==3.0.0
webdriver-manager==4.0.1
Werkzeug==2.3.6
wikipedia==1.4.0
WSGIserver==1.3
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.8
yarl==1.9.2
